# Environment Variables
python-dotenv

# Google
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2

# HTTP Requests
requests

# Web Framework
fastapi
uvicorn

# Database
psycopg[binary]